.nav_header
{
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    background-color: #286374;
    align-items: center;
  
}
.nav1
{
    cursor: pointer;
}
.dum1
{
    color: aliceblue;
}
.navbar_main
{
    width: 95%;
    color: rgb(240, 240, 255);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav2
{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}